name: hb
services:
  hb-ap:
    image: hb:1.0
    build:
      context: .
      dockerfile: ./Dockerfile
    restart: always
    secrets:
      - secret_key_base
      - mysql_user_password
    environment:
      DATABASE_HOST: home-db-mysql
      DATABASE_PORT: 3306
    networks:
      - home_network
secrets:
  secret_key_base:
    file: ${RAILS_SECRET_PATH}
  mysql_user_password:
    file: ${MYSQL_USER_PASSWORD_PATH}
networks:
  home_network:
    external: true
