.bg-white.rounded-lg.shadow-md.p-6.flex.flex-col.h-full{:id => dom_id(post)}
  %h2.font-bold.text-lg.mb-2
    = post.title
  %p.text-gray-700.text-sm.mb-4
    = simple_format post.content
  - if local_assigns[:show_link] != false
    %p.mt-4.text-right
      = link_to "Show this post", post, class: "text-blue-500 hover:underline"