.bg-white.rounded-lg.shadow-lg.border-2.border-gray-100.p-6.flex.flex-col.h-full{:id => dom_id(post)}
  .text-gray-700.text-sm.mb-4
    = post.created_at.strftime("%Y/%m/%d(%a) %H:%M:%S")
  %h2.font-bold.text-lg.mb-2
    = post.title
  .text-gray-700.text-sm.mb-4
    = simple_format post.content
  - if local_assigns[:show_link] != false
    %p.mt-4.text-right
      = link_to "Show this post", post, class: "text-blue-500 hover:underline"