- content_for :title, "Editing post"
%h1.text-3xl.mb-6.font-Anton.border-b-2.border-gray-800.pb-2 Editing post
= render "form", post: @post
%br
%div
  = link_to "Show this post", @post
  |
  #{link_to "Back to posts", posts_path}
